section.section.section--4(data-scroll-section data-router-page="universe" data-section="3")
    .container
        .insert.insert-2
            .insert-text.insert-text--2(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title.title-xl.mb-31
                    | Introducing the
                    br
                    span
                        | Climabots
                .text.text--3.text-md.lh-32
                    | Climabots protect your kingdom from attack and are used to colonize other areas. They need power from your power plant and will be colour coded to signify strengths. They will be made from recycled materials ideally, collected from around the map. A healthy population is required in order to survive in the game


            .insert-image.insert-image--2
                img.js-lazy(data-src=`${baseDir}assets/images/introducing/1.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
        .insert.insert-3
            .insert-text.insert-text--3(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title.title-xl.mb-31.text-center
                    | We must &nbsp;

                    span
                        | Act!
                .text.text--3.text-md.lh-32.text-center
                    | Climate change is a reality - and the time to act is now. The world has to be carbon neutral by 2050. It's the one and only chance we have to preserve our planet - for us and every generation to come.

            .insert-image.insert-image--4
                img.js-lazy(data-src=`${baseDir}assets/images/introducing/3.png` alt="client")(data-scroll data-scroll-delay="0.05" data-scroll-speed="0.8" data-scroll-repeat)
            .insert-image.insert-image--5
                img.js-lazy(data-src=`${baseDir}assets/images/introducing/4.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1.5" data-scroll-repeat)
