.grass {
    position: absolute;
    left: -118px;
    top: -81px;
    z-index: 5;
    animation: grass 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}

.shadow {
    position: relative;
    width: 778px;
    height: 449px;
    background: linear-gradient(243.87deg, rgba(255, 255, 255, 0.1) -3.92%, rgba(255, 255, 255, 0) 85.2%);
    clip-path: url("#triangle");
}

.intro {


    .container {
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: -100px;
            top: 0;
            bottom: 0;
            background: url("../assets/images/intro/main-bg.png") center center no-repeat;
            background-size: 100%;
            height: 768px;

            @include desktop {

            }

            @include devices {
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background: url("../assets/images/intro/image.jpg") center center no-repeat;
                background-size: cover;

            }
        }

        &::after {
            content: "";
            position: absolute;
            right: -9%;
            top: 0;
            width:  146px;
            height: 875px;
            background: linear-gradient(270deg, #141920 0%, rgba(20, 25, 32, 0) 100%);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 65px;
        height: 100%;

        @include devices {
            padding-top: vh(260);
        }
    }

    &-left {
        position: relative;
        top: -10px;
    }

    &-right {
        margin-right: -42px;
        img {

        }
    }

    &-arrow {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 42px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.04em;
        cursor: pointer;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            border: 1px solid $color-white;
            border-radius: 800px;
            width: 60px;
            height: 60px;

            svg {
                width: 28px;
                height: 28px;
                animation: arrow 2s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
            }
        }

        @include devices {
            bottom: vh(68);
        }
    }

    @include devices {
        height: 100%;
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bg {
    0% {
        background-size: 100%;
    }

    50% {
        background-size: 105%;
    }

    100% {
        background-size: 100%;
    }
}

@keyframes grass {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
