section.section.section--1(data-scroll-section data-router-page="home" data-section="1")
    include @components/header/header
    .grass.for-desktop
        img(src=`${baseDir}assets/images/intro/grass.png` alt="client")
    .intro
        .container
            .intro-content
                .intro-left
                    .title.title-xxl.title-1.is-hide
                        | The
                    .title.title-xxl.mb-41.title-2.is-hide
                        span
                            | Climateers


                    .text.text-md
                        | The first create-for-purpose#[br] franchise, and you can be a part of it!
                .intro-right.is-hide.for-desktop
                    img(src=`${baseDir}assets/images/intro/hero.png` alt="client")
            .intro-arrow.js-anchor.is-hide(data-page="mission")
                span
                    <svg width="8" height="29" viewBox="0 0 8 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.64645 28.3536C3.84171 28.5488 4.15829 28.5488 4.35355 28.3536L7.53554 25.1716C7.7308 24.9763 7.7308 24.6597 7.53553 24.4645C7.34027 24.2692 7.02369 24.2692 6.82843 24.4645L4 27.2929L1.17157 24.4645C0.976312 24.2692 0.659729 24.2692 0.464467 24.4645C0.269205 24.6597 0.269205 24.9763 0.464467 25.1716L3.64645 28.3536ZM3.5 2.18557e-08L3.5 28L4.5 28L4.5 -2.18557e-08L3.5 2.18557e-08Z" fill="white"/>
                    </svg>

                | Scroll down
