.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-width: vc(1166);

    &--center {
        display: flex;

        @include desktop {

            align-items: center;
            justify-content: center;
        }

    }

    &--justify {
        justify-content: space-between;
    }

    &--align-center {
        align-items: center;
    }

    &--cards {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin-top: 36px;

        @include devices {
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }

    &--right {
        @include desktop {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
        }
    }

    @include devices {
        padding: 0 vc(16);
        max-width: vc(360);

        &--cases {
            margin-top: vc(159);
        }

        &--partners {
            flex-wrap: wrap;
            overflow: initial;
        }
    }
}

.title {
    font-weight: 700;
    letter-spacing: -0.04em;

    span {
        position: relative;
        display: inline-block;
        padding-right: 8px;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8px;
            z-index: 0;
            height: 91%;
            background: linear-gradient(180deg, rgba(110, 183, 56, 0.12) 0%, rgba(20, 143, 111, 0.12) 100%);

            @include devices {
                bottom: 8px;
                z-index: 0;
                height: 91%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            z-index: 1;
            background: linear-gradient(180deg, #6EB738 0%, #148F6F 100%);

            @include devices {
                bottom: 0;
            }
        }
    }

    &-xxl {
        font-size: 88px;
        line-height: 96px;

        @include devices {
            font-size: vc(48);
            line-height: vc(56);
            letter-spacing: -0.04em;
        }
    }

    &-xl {
        font-size: 40px;
        line-height: 48px;

        span {


            &::before {
                bottom: 10px;
            }

            &::after {
                bottom: 0;
            }
        }
    }

    &-md {
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.12em;
    }
}

.text {
    font-weight: 400;

    &-md {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.04em;

        @include devices {
            font-size: vc(16);
            line-height: vc(24);
        }
    }

    &--1 {
        max-width: 400px;
    }

    &--2 {
        margin: 0 auto;

        @include desktop {
            width: 997px;

        }

        @include devices {
            text-align: left !important;
        }
    }

    &--3 {
       @include desktop {
           width: 480px;
       }
    }
}

.lh-32 {
    line-height: 32px;
}

.lh-28 {
    line-height: 28px;

    @include devices {
        line-height: vc(28);
    }
}

.color-black {
    color: $color-black;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.mb-41 {
    margin-bottom: 41px;

    @include devices {
        margin-bottom: vc(33);
    }
}

.mb-31 {
    margin-bottom: 31px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-54 {
    margin-top: 54px;
}

.insert {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        position: absolute;
        left: 50%;

    }

    &-1 {
        &::after {
            margin-left: -261px;
            top: 58px;
            width: 778px;
            height: 449px;
            background: url("../assets/images/shadow/1.png") center center no-repeat;

            @include devices {
                top: vc(-57);
                width: vc(658);
                height: vc(347);
                background: url("../assets/images/shadow/1-1.png") center center no-repeat;
                background-size: cover;
            }
        }
    }

    &-2 {
        margin-bottom: 58px;

        &::after {
            margin-left: -518px;
            top: 58px;
            width: 989px;
            height: 449px;
            background: url("../assets/images/shadow/3.png") center center no-repeat;

            @include devices {
                top: vc(-51);
                margin-left: vc(-306);
                width: vc(658);
                height: vc(523);
                background: url("../assets/images/shadow/3-1.png") center center no-repeat;
                background-size: contain;
            }
        }
    }

    &-3 {
        margin-top: 240px;

        &::after {
            margin-left: -518px;
            top: -136px;
            width: 1032px;
            height: 434px;
            background: url("../assets/images/shadow/5.png") center center no-repeat;

            @include devices {
                top: vc(-51);
                margin-left: vc(-220);
                width: vc(496);
                height: vc(339);
                background: url("../assets/images/shadow/3-2.png") center center no-repeat;
                background-size: contain;
            }

        }

        @include devices {
            margin-top: vc(184);
        }
    }

    &-image {
        flex-shrink: 0;

        &--1 {
            position: relative;
            right: 40px;
            margin: 0 -53px;
            width: 581px;
            height: 581px;

            &-1 {
                right: 81px;
                top: 20px;
                margin: 0 -68px;
                width: 610px;
                height: 610px;
            }

            @include devices {
                position: absolute;
                right: vc(-120);
                top: vc(4);
                width: vc(301);
                height: vc(301);
                opacity: 0.2;

                &-1 {
                    position: static;
                    opacity: 1;
                }
            }
        }

        &--2 {
            position: relative;
            width: 546px;
            height: 546px;

            @include devices {
                position: absolute;
                right: -131%;
                top: -13%;
                width: vc(583);
                height: vc(584);

            }
        }

        &--4 {
            position: absolute;
            left: -84px;
            top: -67px;

            @include devices {
                z-index: 2;
                left: vc(-91);
                top: vc(185);
                width: vc(148.12);
                height: vc(148.12);
            }
        }

        &--5 {
            position: absolute;
            right: -100px;
            top: -38px;

            @include devices {
                top: vc(181);
                width: vc(139.77);
                height: vc(139.77);
            }
        }
    }

    &-text {
        @include desktop {
            &--2 {
                margin-left: 236px;
                padding-top: 50px;
            }
        }
    }
}
