include intro/index
include our-mission/index
include the-game/index
include introducing/index
include multi-platform/index
include have-no-fear/index
include get-me/index
include road-map/index
include team/index
include partnership/index
section.section.section--last(data-scroll-section data-router-page="#")
    .container
        .insert.insert-1
            .insert-image.insert-image--1.insert-image--1-1
                img.js-lazy(data-src=`${baseDir}assets/images/our-mission/1.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
            .insert-text(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title.title-xl.mb-31
                    | Climateer &nbsp;
                    span
                        | Island
                .text.text--1.text-md.lh-32
                    | 10% of all fees taken will be set aside for a real life Island which will be purchased when this fund hits $500,000. All official Climateer PFP holders will have equal access rights to this Island

