.section {
    position: relative;

    &--1 {

        @include devices {

            height: 100vh;
            height: var(--vh);

            .container {
                height: 100%;
            }

            .is-lock-scroll & {
                z-index: 9999;
            }
        }
    }

    &--2 {
        padding-top: 107px;


        @include devices {
            padding-top: vc(59);
        }
    }

    &--3 {
        z-index: 3;

        @include devices {
            padding-top: vh(98);
            padding-bottom: vc(87);

            .title {
                @include devices {
                    text-align: left !important;
                }
            }
        }
    }

    &--4 {
        padding-top: 136px;

        @include devices {
            padding-top: vc(54);

            .insert-2 {
                .text {
                    padding-right: 24%;
                }
            }

        }
    }

    &--5 {
        padding-top: 176px;

        @include devices {
            padding-top: vc(165);
        }
    }

    &--6 {
        z-index: 2;
        padding-top: 150px;

        @include devices {
            padding-top: vc(146);

            .title-xl {
                text-align: left !important;
            }
        }
    }

    &--7 {
        padding-top: 169px;

        @include devices {
            padding-top: vc(86);
        }
    }

    &--8 {
        padding-top: 50px;
        padding-bottom: 0;

        @include devices {
            padding-top: vc(96);
            padding-bottom: 0;
        }
    }

    &--9 {
      @include devices {
          padding-top: vc(108);
      }
    }

    &--10 {
        padding-top: 65px;

        @include devices {
            padding-top: vc(120);
        }
    }

    &--last {
        padding-top: 15px;

        @include devices {
            padding-top: vc(69);

            .insert-1 {
                flex-flow: column;

                .insert-text {
                    order: 1;
                }

                .insert-image {
                    margin: 0 vc(-40);
                    order: 2;
                    width: vc(386);
                    height: vc(386);
                }

                &::after {
                    background-size: cover;
                    height: vc(783);
                }
            }
        }
    }
}

@import "intro/index";
@import "the-game/index";
@import "we-must/index";
@import "multi-platform/index";
@import "have-no-fear/index";
@import "get-me/index";
@import "road-map/index";
@import "team/index";
@import "partnership/index";


