section.section.section--2(data-scroll-section data-router-page="mission" data-section="2")
    .container
        .insert.insert-1
            .insert-image.insert-image--1
                img.js-lazy(data-src=`${baseDir}assets/images/introducing/2.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
            .insert-text(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title.title-xl.mb-31
                    | Our &nbsp;
                    span
                        | Mission
                .text.text--1.text-md.lh-32
                    | We are creating a range of content with the goal of raising awareness, generating financial contributions and building a community around the issue of global warming and climate change
