.partnership {
    position: relative;
    display: flex;

    min-height: 682px;

    &__image {
        position: absolute;

        &--1 {
            left: -695px;
            top: -163px;
            width: 956.56px;
            height: 948.5px;
        }

        &--2 {
            right: -693px;
            top: -186px;
            width: 984.6px;
            height: 976.91px;
        }
    }

    &__card {
        position: relative;
        margin-bottom: 36px;

        @include devices {
            margin-right: 8px;
            width: 100%;
            flex-shrink: 0;

            img {

            }
        }
    }

    @include desktop {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include devices {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        height: auto;
        min-height: auto;
        padding-bottom: 30px;
    }
}
