.partnership {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 682px;

    &__image {
        position: absolute;

        &--1 {
            left: -695px;
            top: -163px;
            width: 956.56px;
            height: 948.5px;
        }

        &--2 {
            right: -693px;
            top: -186px;
            width: 984.6px;
            height: 976.91px;
        }
    }

    &__card {
        position: relative;
        margin-bottom: 36px;
    }
}
