section.section.section--5(data-scroll-section data-router-page="multiplatform")
    .container
        .title.title-xl.mb-31.text-center
            | Multi #[span Platform]
        .text.text-md.lh-32.text-center.mb-41
            | What our game does
        .multi.multi--left
            .multi__image.multi__image--1
                img.js-lazy(data-src=`${baseDir}assets/images/multi-platform/1.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
            .multi__text(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title-md.mb-12
                    | Climate action that is easy, fun and accessible
                .text-md.lh-28
                    |  Redemption enables immediate climate action — no extensive know-how, change of lifestyle or big investment required. Collect a Climatz with one click, and funds are allocated for projects fighting climate change
        .multi.multi--right
            .multi__text(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title-md.mb-12
                    | Awareness by immersion
                .text-md.lh-28
                    | Being a highly immersive game, Redemption celebrates biodiversity, sustainability and responsibility
            .multi__image.multi__image--2
                img.js-lazy(data-src=`${baseDir}assets/images/multi-platform/2.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
        .multi.multi--left.mt-25
            .multi__image.multi__image--3
                img.js-lazy(data-src=`${baseDir}assets/images/multi-platform/3.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
            .multi__text(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title-md.mb-12
                    | Education against misinformation
                .text-md.lh-28
                    | To advance in the Redemption game, users have to closely understand real-world issues, and gathering knowledge about the earth’s climate zones is a huge advantage in the growing game. At every step, we support the player with easily understandable educational material about the world’s climate that always makes the connection to the threats of global warming
        .multi.multi--right.mt-54
            .multi__text(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title-md.mb-12
                    | A sustainable community
                .text-md.lh-28
                    | Political parties are not doing enough for climate change, and a few individuals playing a game will not change any of that — in the broader scale of society, climate action will only be taken if there are groups of interest that have a strong voice rooting for change. Redemption provides a networking platform for a community of like-minded people, focused on sustainability
            .multi__image.multi__image--4
                img.js-lazy(data-src=`${baseDir}assets/images/multi-platform/4.png` alt="client")(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
