.footer {
    &-logo {
        flex-shrink: 0;
        width: 140px;
        height: 32px;

        @include devices {
            width: vc(99);
            height: vc(20);
            order: 1;
        }
    }

    &-copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        opacity: 0.6;

        @include devices {
            order: 3;
            margin-top: vc(16);
        }
    }

    &-links {
        a {
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.01em;

            &:first-child {
                margin-right: 44px;

                @include devices {
                    margin-right: vc(25);
                }
            }

            @include devices {
                font-size: vc(12);
                line-height: vc(16);
                letter-spacing: -0.04em;
            }
        }

        @include devices {
            order: 2;

        }
    }

    &-prod {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba($color-white, 0.6);

        a {
            display: inline-flex;
            align-items: center;
            padding-left: 5px;

            text-decoration: underline;
            opacity: 1;
            color: $color-white;

            @include desktop {
                font-weight: 700;

            }

            @include devices {

            }
        }

        svg {
            margin-left: 8px;
            width: 16px;
            height: 16px;
        }

        @include devices {
            order: 4;
            width: 100%;
            justify-content: flex-end;
            margin-top: vc(10);
            font-size: vc(12);
            line-height: vc(16);
            opacity: 0.8;
        }
    }

    @include devices {
        margin-top: vc(95);
        padding: 0 vc(16);

        .container {
            //flex-flow: column;
            flex-wrap: wrap;
        }
    }
}

.border {
    border-top: 1px solid rgba($color-white, 0.34);
    padding: 36px 0 32px;

    @include devices {
        padding: vc(27) 0 vc(20);
    }
}
