section.section.section--3(data-scroll-section data-router-page="#")
    .game
        .container

            .text-center(data-scroll data-scroll-delay="0.02" data-scroll-speed="1" data-scroll-repeat)
                .title.title-xl.mb-31
                    | The &nbsp;
                    span
                        | Game
                .text.text--2.text-md.lh-32
                    | Our first game is set on the fictional Island of Redemption and is the first play-for-purpose game on Hedera. Created with the goal of raising awareness, generating financial contributions and building a community around the issue of global warming and climate change — it’s the fun and easy route into taking climate action, and the blueprint for a next generation of purpose-driven games
            .game-cards
                .game-card(data-scroll data-scroll-delay="0.04" data-scroll-speed="0.8" data-scroll-repeat)
                    .game-image
                        img.js-lazy(data-src=`${baseDir}assets/images/the-game/1.png` alt="client")
                    .game-text.game-text--1
                        .title.title-xl
                            span
                                | 01
                        .text-md.lh-28.color-black
                            | Create awareness#[br] & knowledge
                .game-card(data-scroll data-scroll-delay="0.06" data-scroll-speed="1" data-scroll-repeat)
                    .game-image
                        img.js-lazy(data-src=`${baseDir}assets/images/the-game/2.png` alt="client")
                    .game-text.game-text--2
                        .title.title-xl
                            span
                                | 02
                        .text-md.lh-28.color-black
                            | Build a purpose-#[br]driven community
                .game-card(data-scroll data-scroll-delay="0.9" data-scroll-speed="0.5" data-scroll-repeat)
                    .game-image
                        img.js-lazy(data-src=`${baseDir}assets/images/the-game/3.png` alt="client")
                    .game-text.game-text--3
                        .title.title-xl
                            span
                                | 03
                        .text-md.lh-28.color-black
                            | Generate financial#[br] contributions
            .game-insert
                .title.title-md.text-uppercase.text-center
                    | Play with Purpose, Play for Purpose
