section.section.section--6(data-scroll-section data-router-page="#")
    .container
        .title.title-xl.mb-31.text-center(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
            | Have no fear and become a  #[span Climateer!]
        .no-fear
            .no-fear__block(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
                .no-fear__image
                    img.js-lazy(data-src=`${baseDir}assets/images/have-no-fear/1.png` alt="client")

                .no-fear__text.no-fear__text--1
                    .text-md.lh-28.color-black
                        | Join the Climateers as we embark on daring and adventurous missions to save the Planet. Our Comic and Game creations will co exist to make a unified universe
            .no-fear__block(data-scroll data-scroll-delay="0.01" data-scroll-speed="1" data-scroll-repeat)
                .no-fear__image
                    img.js-lazy(data-src=`${baseDir}assets/images/have-no-fear/2.png` alt="client")

                .no-fear__text.no-fear__text--2
                    .text-md.lh-28.color-black
                        | Join the Climateers and secure your chance to own unique collectibles, access exclusive merchandise, community giveaways and participate in live events
