.no-fear {
    @include desktop {
        display: flex;
        justify-content: space-between;
        height: 637px;
    }

    &__block {
        @include desktop {
            width: 558px;
        }

        @include devices {
            margin-bottom: 15px;
        }
    }

    &__image {
        text-align: center;
    }

    &__text {
        position: relative;
        padding: 49px 55px;
        margin-top: -44px;
        width: 558px;
        height: 181px;
        text-align: center;

        &--1 {

            @include desktop {
                background: url('../assets/images/shadow/10.png') center center no-repeat;
                background-size: contain;
            }

            @include devices {
                background: url('../assets/images/shadow/10-1.png') center center no-repeat;
                background-size: contain;
            }
        }

        &--2 {
            margin-top: -63px;
            margin-left: 17px;

            @include desktop {
                background: url('../assets/images/shadow/11.png') center center no-repeat;
                background-size: contain;
            }

            @include devices {
                background: url('../assets/images/shadow/11-1.png') center center no-repeat;
                background-size: contain;
            }
        }

        @include devices {
            padding: 21px 30px;
            width: 328px;
            height: 181px;


        }
    }
}
